{% extends 'base.html' %}

{% block content %}
  <h1>Список рассылок</h1>
  <ul>
    {% for mailing in mailings %}
      <li>
        {{ mailing }}
        <a href="{% url 'mailing:mailing_update' pk=mailing.pk %}" class="btn btn-outline-primary">Редактировать</a>
        <a href="{% url 'mailing:mailing_delete' pk=mailing.pk %}" class="btn btn-outline-danger">Удалить</a>
        <a href="{% url 'mailing:mailing_start' pk=mailing.pk %}" class="btn btn-outline-success">Запустить</a>
        <a href="{% url 'mailing:mailing_stats' pk=mailing.pk %}" class="btn btn-outline-info">Отчет</a>
      </li>
    {% empty %}
      <li>Рассылки недоступны</li>
    {% endfor %}
  </ul>
{% endblock %}